<app-toolbar-navigation></app-toolbar-navigation>
<p-progressSpinner *ngIf="isLoading" [style]="{ 'width': '50px', 'height': '50px', 'position': 'fixed', 'top': '50%', 'left': '50%', 'margin-top': '-25px', 'margin-left': '-25px' }"></p-progressSpinner>

<!-- Restante do seu template HTML... -->

<div class="grid">
    <div class="col-12">
        <!---GRAFICO DE PRODUTOS EM ESTOQUE---->
        <p-card
        header="Quantidade de Produtos em estoque"
        styleClass="shadow-3 m-5 text-indigo-800"
        >
        <p-chart
        type="bar"
        [data]="productsChartDatas"
        [options]="productsChartOptions"
        ></p-chart>
        </p-card>
    </div>
</div>
