<p-toolbar styleClass="bg-indigo-800" id="custom-toolbar">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-home" label="Dashboard" routerLink="/dashboard"
    styleClass="bg-indigo-800 p-button-secondary"
    routerLinkActive="exact_route"></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <p-button icon="pi pi-cart-plus" label="Produtos" routerLink="/products"
    styleClass="bg-indigo-800 p-button-secondary mr-2"
    routerLinkActive="exact_route"></p-button>
    <p-button icon="pi pi-ticket" label="Categorias" routerLink="/category"
    styleClass="bg-indigo-800 p-button-secondary mr-2"
    routerLinkActive="exact_route"></p-button>
    <p-button icon="pi pi-credit-card" label="Efetuar Venda" routerLink="/products"
    styleClass="bg-indigo-800 p-button-secondary"
    (click)="handleSaleProduct()"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button label="Sair" icon="pi pi-sign-out" styleClass="p-button-danger"
     (click)="handleLogout()"></p-button>
  </div>
</p-toolbar>
